body{

/*background-color: blue;*/
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Clouds_over_the_Atlantic_Ocean.jpg/1200px-Clouds_over_the_Atlantic_Ocean.jpg);

}

h1{
  color: white;
}

p {  
  color: white;
}

